---
---
<div class="container-fluid" id="about">
    <div class="row row-about justify-content-center">
        <div class="col-4 col-about">
            <h2 class="about-h2">Baked with Love, From Our Kitchen to Yours</h2>
        </div>
        <div class="col-4 col-about">
            <p class="about-p">Just Doough it! is a beloved local family business founded in 2024 in the heart of Burnaby by Ryan Fong. After years of experience working in various retail stores and grocery shops, Ryan decided it was time to give Burnaby what it truly deserves: a warm piece of heaven in every bite. </p>
        </div>
    </div>
    <!--Image -->
    <div class="row row-about justify-content-center">
        <img src="/images/shop-img.png" alt="bakery shop">
    </div>
    

</div>