---
---
<nav class="navbar navbar-expand-lg rounded" aria-label="Website navbar">
    <div class="container">
        <!--Toggle -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--Collapse -->
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ul-list">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/contact">Contact Us</a>
                </li>
            </ul>

            <!--Logo -->
            <div class="navbar-brand justify-content-md-center">
                <img src="/images/logo.jpg" alt="Bakery Logo">
            </div>
            

            <!--Search -->
            <form role="search">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            </form>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a target="_blank" href="https://maps.app.goo.gl/uhtxQvPK1GatcmgT7">
                        <img src="/images/geo-alt-fill.svg">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

    <script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger);

   //Navigation menu: ul > li > a When the screen is small
document.addEventListener('DOMContentLoaded', (event) => { 
   const navbarMenu = document.getElementById('navbarMenu'); 
   navbarMenu.addEventListener('show.bs.collapse', () => { 
       gsap.from('.ul-list li', { 
           duration: 2, 
           opacity: 0, 
           y: 50, 
           stagger: 0.25 
       }); 
   }); 
});

//li elements effect
document.addEventListener('DOMContentLoaded', (event) => { 
        gsap.from('.ul-list li', { 
            duration: 2, 
            opacity: 0, 
            y: 50, 
            stagger: 0.25 
        }); 
    });
 </script>