//Google Font
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Baskervville:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&family=Playwrite+HR+Lijeva:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&family=Playwrite+VN:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

//light
:root {
    //body
    --background-color: #F5DEB3;
    --text-color: #8B4513;

    //navbar
    --background-nav: #FFF5E4;
    --text-nav: #8B4513;
    --family-nav: "Playwrite IN", serif;

    //about
    --background-about: #FFF5E4;
    --text-about: black;
    --h1-color: #8B4513;

     //footer
     --background-ft: #F5DEB3;
    --text-ft: #8B4513;
    --family-ft: "Playwrite IN", serif;
}

//dark
[data-bs-theme="dark"] {
    //body
    --background-color: black;
    --text-color: black;

    //navbar
    --background-nav: black;
    --text-nav: white;
    --family-nav: "Playwrite IN", serif;

     //about
     --background-about: black;
     --text-about: whitesmoke;
     --h1-color: white;

     //footer
     --background-ft: #8B4513;
    --text-ft: white;
    --family-ft: "Playwrite IN", serif;
}